---
layout: default
title: API Plan
---
<h1>API Plan - Editor</h1>

{% assign lines = site.plan | sort: 'properties.sort' %}

{% for plan in lines %}

  {% assign is_line = 0 %}
  {% for class in plan.class %}
    {% if class == "line" %}
      {% assign is_line = 1 %}
    {% endif %}
  {% endfor %}

  {% if is_line == 1 %}
    <form>
    <input type="text" name="path" value="{{ plan.path }}" width="50" /><br />
    <input type="text" name="name" value="{{ plan.properties.name }}" width="50" /><br />
    <input type="text" name="sort" value="{{ plan.properties.sort }}" width="5" /><br />
    <textarea name="" rows="5" cols="40">{{ plan.properties.description }}</textarea><br /
    <input type="button" name="save" value="Save">
    </form>
    <hr />

  {% endif %}

{% endfor %}
